.homepage {
  font-family: "Karla", sans-serif;
}


.section-title {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  text-align: center;
  margin: 2rem 0;
  color: #333333;
}


.specials-section {
  padding: 2rem 1rem;
  background-color: #edefee;
}


.testimonials-section {
  padding: 2rem 1rem;
  background-color: #495e57;
  color: #edefee;
}


.chicago-section {
  padding: 2rem 1rem;
  background-color: #ffffff;
}


.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

